.form_main {
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 223, 247);
    border-radius: 35px;
    padding: 90px 90px 90px 90px;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.059),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.085),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.105),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.125),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.151),
    100px 100px 80px rgba(0, 0, 0, 0.21)
  ;
    position: relative;
    overflow: hidden;
  }
  
  .form_main::before {
    position: absolute;
    content: "";
    width: 500px;
    height: 300px;
    background: #56CCF2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background-color: rgb(209, 193, 255); */
    transform: rotate(25deg);
    left: 320px;
    bottom: 100px;
    z-index: 1;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
  }
  .x{
    font-size: 12px;
  }
  .a{
    text-align: center;
    margin-top: 140px;
    margin-left: 520px;
  }
  .heading {
    font-size: 2em;
    color: #2e2e2e;
    font-weight: 700;
    margin: 5px 0 10px 0;
    z-index: 2;
  }
  
  .inputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .inputIcon {
    position: absolute;
    left: 3px;
  }
  
  .inputField {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    margin: 10px 0;
    color: black;
    font-size: .8em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
  }
  
  .inputField:focuss {
    outline: none;
    border-bottom: 2px solid rgb(199, 114, 255);
  }
  
  .inputField::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 500;
  }
  
  #button {
    z-index: 2;
    position: relative;
    width: 100%;
    border: none;
    background-color: rgb(162, 104, 255);
    height: 30px;
    color: white;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px;
    cursor: pointer;
  }
  
  #button:hover {
    background-color: rgb(126, 84, 255);
  }
  
  .forgotLink {
    z-index: 2;
    font-size: .7em;
    font-weight: 500;
    color: rgb(44, 24, 128);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
  }
  
  