/* register.css */

/* Styles for the container div */
.si {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #6cc6d6; */
}

/* Styles for the signup form div */
.ss {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 40px 20px 20px;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
}

/* Styles for the form title */
h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Styles for input fields */
.in {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

/* Style for the "Sign Up" button */
.b {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover effect for the "Sign Up" button */
.b:hover {
  background-color: #0056b3;
}

/* Styles for the link at the bottom */
a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
